<section class="d-flex justify-content-center">
    <div class="card bg-dark text-light" style="width: 18rem;">
        <img style="margin: auto; margin-top: 5px;" width="150px" height="150px" src="{{contact.photo}}" class="" alt="...">
        <div class="card-body ">
            <div class="card-header">
                {{contact.name}}
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item bg-dark text-light">Id: {{contact.id}}</li>
                <li class="list-group-item bg-dark text-light">Mobile: {{contact.mobile}}</li>
                <li class="list-group-item bg-dark text-light">Email: {{contact.email}}</li>
                <li class="list-group-item bg-dark text-light">company: {{contact.company}}</li>
                <li class="list-group-item bg-dark text-light">Title: {{contact.title}}</li>
                <li class="list-group-item bg-dark text-light">Group: {{group}}</li>
            </ul>
        </div>
    </div>
</section>